@charset "UTF-8";


/*-----------------------------------------------------------------------------*/
body{
  font-family: arial;
background-color:#2F4F4F;
background-clip: content-box;
  color: rgba(0,0,0,1);
}
/*-----------------------------------------------------------------------------*/
a{
  color: #606060;
  text-decoration: none;/*tirar o sublinhado do link*/
}
/*------------------------------------------------------------------*/
a:hover{
  text-decoration: underline;/*quando passar o mouse fica sublinhado*/
}
/*-----------------------------------------------------------------------------*/
div#interface {
  width: 1100px;
  background-color: #ffffff;
  margin: -20px auto 0px auto;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  padding: 10px 10px 20px 10px ;
}
/*-----------------------------------------------------------------------------*/

header#cabecalho{
  border-bottom: 2px #606060 solid;
  height: 70px;

}
header#cabecalho h2{
  font-family: arial, sans-serif;
  font-size: 20pt;
  color: black;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  text-align: center;
}
header#cabecalho img#slogan{
  position: absolute;
  width: 50px;
  height: 100px;
}
/*-----------------------------------------------------------------------------*/

article#noticia-principal h2{
  font-family: arial, sans-serif;
  font-size: 20pt;
  color: black;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  margin-left: 220px;
  margin-top: -18px;

}
/*-----------------------------------------------------------------------------*/
nav#menu{
  display: block;
/*  word-spacing: 6px;da espaço entre as palavras*/
}
section#corpo{
  display: block;
  width: 1100px;
}

nav#menu ul{
  list-style: none;
  text-transform: uppercase;
  position: relative;
  top: -62px;
  left:284px;
}
nav#menu li{
  display: inline-block;
  background-color: #dddd;
  padding: 10px;
  margin: 2px;
  transition: background-color 2s;
  /*utilizar o expressprefixr */
}
nav#menu li:hover{
  background-color: #606060

}
nav#menu h1{
  display: none;
}
nav#menu a{
  color: #000000;
  text-decoration:none;

}
nav#menu a:hover{
  color: #ffffff;
  text-decoration:underline;
}
/*-----------------------------------------------------------------------------*/
table#tabelaspec{
  border: 0px solid black;

  margin-left: auto;/*centalizar a tabela*/
  margin-right: auto;
}
table#tabelaspec td{
  border: 0px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

table#tabelaspec td.ce{

}
table#tabelaspec td.cm{

}
table#tabelaspec td.cd{

}
table#tabelaspec td.cee{
background-color: #dddd;
color: black;
transition: 1s;
}
table#tabelaspec td.cee:hover{
  background-color: #606060;
}
table#tabelaspec td.cmm{
  background-color: #dddd;
  color: black;
  transition: 1s;
}
table#tabelaspec td.cmm:hover{
  background-color: #606060;
}
table#tabelaspec td.cdd{
  background-color: #dddd;
  color: black;
  transition: 1s;
}
table#tabelaspec td.cdd:hover{
  background-color: #606060;
}
table#tabelaspec img#ano{
  width: 280px;
  height: 280px;
  border: 8px solid white;
  box-shadow: 1px 1px 4px black;
}
table#tabelaspec img#dia{
  width: 280px;
  height: 280px;
  border: 8px solid white;
  box-shadow: 1px 1px 4px black;
}
table#tabelaspec img#cad{
  width: 280px;
  height: 280px;
  border: 8px solid white;
  box-shadow: 1px 1px 4px black;
}

/*-------------------------------------------------------------------------------*/
.bot{
  position: relative;
  top: 0px;
  left: 505px;
font-size: 1.5em;
background: #2F4F4F;
border: 0;
border-radius: 4px;
margin-bottom: 1em;
color: #FFF;
padding: 0.2em 0.6em;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
cursor: pointer;
}

.bot:hover {
background: #4c7f7f;
box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
text-shadow: none;
}
  /*-------------------------------------------------------------------------------*/


footer#rodape{
  clear: both;
  border-top: 2px solid #606060;
}
footer#rodape h1{
  font-family: arial, sans-serif;
  font-size: 10pt;
  color: black;
  text-align: center;
}
